body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  display: table !important;
  padding: 0 !important;
  width: 16% !important;
  background-color: #fdfdfd9a !important;
  position: fixed !important;
  left: 0 !important;
  height: 100vh !important;
  overflow: auto !important;
}

.nav-logo {
  display: flex;
  padding-top: 20px;
  font-family: "Style Script" !important;
  src: url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap") !important;
  font-weight: 600 !important;
  font-size: 2rem !important;
  justify-content: center;
}

.sidebar a {
  display: flex !important;
  color: black !important;
  text-decoration: none !important;
  font-size: 19px !important;
}

.sidebar a.active {
  background-color: #04aa6d;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #fdfdfd10 !important;
  color: white !important;
  border-radius: 40px !important;
}

.navbar-expand .navbar-nav {
  flex-direction: column;
}

.navbar-nav a {
  padding: 12% !important;
  align-items: center !important;
}
.logoIcon {
  visibility: hidden !important;
  width: 0%;
}

/* .logout {
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
} */

@media screen and (max-width: 1200px) {
  .sidebar {
    width: 10% !important;
  }
  .navtext {
    display: none;
  }
  .nav-logo {
    display: none;
  }
  .navbar-nav a {
    padding: 18% !important;
  }
  .logoIcon {
    display: flex !important;
    visibility: visible !important;
    margin: 30% !important;
    position: relative !important;
    width: 45% !important;
  }
  .sidebar a {
    justify-content: center !important;
    margin-top: 25% !important;
    font-size: 25px !important;
  }
  /* .logout {
    position: absolute !important;
    bottom: 0 !important;
    left: 18px !important;
  } */
}

@media screen and (max-width: 982px) {
  .sidebar a {
    justify-content: center !important;
    margin-top: 30% !important;
    font-size: 30px !important;
  }
  /* .logout {
    position: absolute !important;
    bottom: 0 !important;
    left: 10px !important;
  } */
}

@media screen and (max-width: 772px) {
  .sidebar {
    bottom: 0 !important;
    width: 100% !important;
    z-index: 1 !important;
    height: 10vh !important;
    background-color: #ffff !important;
    position:fixed !important;
  }
.navbar {
  border-top: 1px solid black !important;
  /* padding: 20px !important; */
}

.navbar-expand .navbar-nav {
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
  .logoIcon {
 display: none !important;
  }
  .nav-logo {
    display: none !important;
  }
  .navtext {
    display: none !important;
  }
}
